Carpooling/platforms/android/
Carpooling/platforms/ios/
Carpooling/platforms/android/*.*
Carpooling/platforms/ios/*.*
Carpooling/plugins/*
*.prop
*.apk
*.ap_
ACC/platforms/android/
ACC/platforms/ios/
ACC/platforms/android/*.*
ACC/platforms/ios/*.*
*.apk
*.ap_
*.d
*.dex
*.db
.metadata/
.metadata/*.*