Carpooling/platforms/android/ant-build/Carpooling-debug-unaligned.apk
Carpooling/platforms/android/ant-build/Carpooling-debug.apk
Carpooling/platforms/android/ant-build/Carpooling.ap_
Carpooling/platforms/android/ant-build/build.prop
*.prop
*.apk
*.ap_
ACC/platforms/android/CordovaLib/bin/acc-cordovalib.jar
*.prop
ACC/platforms/android/CordovaLib/bin/acc-cordovalib.jar
ACC/platforms/android/ant-build/AndroidManifest.cordova.xml
*.apk
*.ap_
*.d
*.dex
