<?xml version='1.0' encoding='utf-8'?>
<widget id="mx.coderia.ACC.Carpooling" version="1.1.4" android-versionCode="11" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CarroCompartido</name>
    <description>
        An ACC app to organize shared rides.
    </description>
    <author email="ricardo@coderia.mx" href="http://www.coderia.mx">
        La Codería
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="tel:*" launch-external="yes"/>

    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="android-minSdkVersion" value="11" />
    <preference name="android-windowSoftInputMode" value="adjustUnspecified" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="SplashScreen" value="screen" />

    <platform name="ios">
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/icon-60.png" width="60" height="60" />
        <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <icon src="res/ios/icon.png" width="57" height="57" />
        <icon src="res/ios/icon@2x.png" width="114" height="114" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/ios/icon-small.png" width="29" height="29" />
        <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
        <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
    </platform>
    <platform name="android">
        <icon src="res/android/ldpi.png" density="ldpi" />
        <icon src="res/android/mdpi.png" density="mdpi" />
        <icon src="res/android/hdpi.png" density="hdpi" />
        <icon src="res/android/xhdpi.png" density="xhdpi" />
        <splash src="res/android/screen/splash-port-ldpi.png" density="port-ldpi"/>
        <splash src="res/android/screen/splash-port-mdpi.png" density="port-mdpi"/>
        <splash src="res/android/screen/splash-port-hdpi.png" density="port-hdpi"/>
        <splash src="res/android/screen/splash-port-xhdpi.png" density="port-xhdpi"/>
    </platform>
</widget>