@font-face {
	font-family: 'icomoon';
	src:url('icomoon-fonts/icomoon.eot?-th3z9q');
	src:url('icomoon-fonts/icomoon.eot?#iefix-th3z9q') format('embedded-opentype'),
		url('icomoon-fonts/icomoon.woff?-th3z9q') format('woff'),
		url('icomoon-fonts/icomoon.ttf?-th3z9q') format('truetype'),
		url('icomoon-fonts/icomoon.svg?-th3z9q#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-home2:before {
	content: "\e601";
}
.icon-coin:before {
	content: "\e602";
}
.icon-clock:before {
	content: "\e603";
}
.icon-user:before {
	content: "\e604";
}
.icon-user2:before {
	content: "\e605";
}
.icon-search:before {
	content: "\e606";
}
.icon-switch:before {
	content: "\e607";
}
.icon-menu:before {
	content: "\e608";
}
.icon-exit:before {
	content: "\e609";
}
.icon-arrow-left:before {
	content: "\e60a";
}
.icon-arrow-right:before {
	content: "\e60b";
}
.icon-arrow-left2:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}
