/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/** View my ride **/

#view-my-ride, #view-next-ride, #view-ride {
    text-align: center;
}

#view-my-ride .row, #view-next-ride .row, #view-ride .row {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#view-my-ride .row span, #view-next-ride .row span, #view-ride .row span {
    display: inline-block;
    vertical-align: middle;
}

#view-my-ride .name, #view-next-ride .name, #view-ride .name {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

#view-my-ride .container-when img, #view-next-ride .container-when img, #view-ride .container-when img {
    margin-right: 10px;
}

#view-my-ride .container-who img, #view-next-ride .container-who img, #view-ride .container-who img {
    margin-right: 10px;
}

#view-my-ride .container-notes, #view-next-ride .container-notes, #view-ride .container-notes {
    text-align: left;
}

#view-my-ride .notes, #view-next-ride .notes, #view-ride .notes {
    color: #666;
}