/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

html, body {
    height : 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#loader {
    display: inline-block;
    width: 46px;
    height: 46px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    z-index: 101;

    text-align: center;
    vertical-align: middle;

    background-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#loader img {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
}

#popupDialog .ui-header, #popupDialog .ui-title {
    margin-right: 0;
    margin-left: 0;
}

#popupDialog .popup-content {
    width: 270px;
    padding-left: 15px;
    padding-right: 15px;
}

#popupDialog .confirmation-buttons {
    text-align: center;
}

.menu {
    display: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    z-index: 101;
    background-color: rgba(0,0,0,0.5);
}

.menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.menu-container {
    display: inline-block;
    background-color: #FFF;
    width: 90%;
    vertical-align: middle;

    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    border-radius: 4%;
}

.menu-container .row {
    margin-top: 5%;
}

.menu-container .row:last-child {
    margin-bottom: 5%;
}

.menu-container .row div {
    display: inline-block;
    width: 25%;
    height: 25%;
    margin-right: 5%;
}

.menu-container .row div:last-child {
    margin-right: 0;
}

#menu-lateral{
	background-color: rgba(0, 0, 88, .5);
	list-style-type: none;
	padding: 10px;
}

#menu-lateral li{
	margin-top: 30px;
	margin-bottom: 30px;
	text-decoration: none;
}

#menu-lateral li a{
	padding: 15px 30px;
	color: #FFF;
	text-decoration: none;
}

#menu-lateral li a:visited{
	color: #FFF;
}

.clima p{
	background-color: #AAA;
	border-radius: 5px;
}

.velocidad p{
	background-color: #AAA;
	border-radius: 5px;
}

/*Quita del mapa los links de logo de Google y terminos de uso */
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* para menu popup */
#popupDialog .popup-content {
    padding-left: 15px;
    padding-right: 15px;
}

#popupAlert .popup-content {
    padding-left: 15px;
    padding-right: 15px;
}

#popupServicio .popup-content {
    padding-left: 15px;
    padding-right: 15px;
}

.ui-dialog {
	height: auto;
}

/** Dashboard **/

#dashboard .ui-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

#dashboard .header {
    color: #FFF;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
}

#dashboard .header div {
    display: inline-block;
    width: 50%;
}

#dashboard #map_canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#dashboard .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 50;

    margin: 0;
    padding: 0;
}

#btn-menu-lateral {
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

#btn-menu-popup {
    float: right;
    margin-right: 5%;
    margin-bottom: 5%;
}

/** Login **/

#login .ui-content {
    position : absolute;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
}

#login {
    height : 100%;
}

#login .ui-content {
    background: none;
    background-color: #063B6A;
    text-align: center;
    vertical-align: middle;
}

#login-buttons a, #login-buttons a:visited, #login-buttons a:hover, #login-buttons a:active {
    color: white;
    text-shadow: none;
    text-decoration: underline;
}

#login-forgot {
    margin-top: 10px;
}

.login-table {
    display: table;
    width: 100%;
    height: 100%;
}

.login-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#login-logo {
    width: 200px;
}

.checkbox-label-no-background {
    background: none !important;
    border: none !important;
    color: #FFFFFF !important;
}

.checkbox-label-no-background-black {
    background: none !important;
    border: none !important;
}