/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

html, body {
    height : 100%;
}

.menu-principal {
	padding: 15%;
	background-color: #ffffff;
}

#menu-principal a {
	float: left;
	margin: 5px;
	width: 25%;
}

#menu-principal a img {
	margin: 5px;
	width: 100%;
}

.slide-to-right.in {
    -webkit-transform: translateX(0);
    -webkit-animation-name: slideinfromleft;
}

.slide-to-right.out {
    -webkit-transform: translateX(-100%);
    -webkit-animation-name: slideouttoright;
}

@-webkit-keyframes slideinfromleft {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}

.slide-to-right.in.reverse {
    -webkit-transform: translateX(0);
    -webkit-animation-name: slideinfromright;
}

.slide-to-right.out.reverse {
    -webkit-transform: translateX(-100%);
    -webkit-animation-name: slideouttoleft;
}

@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0); }
}

@-webkit-keyframes slideouttoleft {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(-100%); }
}

.header{
	background-color: rgba(0,0,0,0.5);
}

.header div{
	margin: 0 30px;
	display: inline;
	width: 100%;
}

.header div p{
	font-size: x-large;
	display: inline;
}

.footer {
	position: absolute;
	bottom: 0;
	margin-bottom: 45px;
	width: 100%;
	float: left;
}

.footer a{
	display: inline-block;
	margin: 25px;
	width: 10%;
}

.footer a img{
	width: 100%;
}

.footer a:last-child {
	float: right;
}

.menu{
	background: #008;
	list-style-type: none;
	padding: 10px;
}

.menu li{
	margin-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}

.menu li a{
	color: #FFF;
	text-decoration: none;
}

.menu li a:visited{
	color: #FFF;
}

.clima p{
	bakcground: #AAA;
	border-radius: 5px;
}

.velocidad p{
	bakcground: #AAA;
	border-radius: 5px;
}

.mapa{
	margin: 0px;
	padding: 0px;
}

#map_canvas{
	width: 690px; 
	height: 1210px;
}

.ui-content{
	padding:0px;
	background: #FFF;
	align: center;
}

/*Quita del mapa los links de logo de Google y terminos de uso */
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* para menu popup */
#popupDialog .popup-content {
    padding-left: 15px;
    padding-right: 15px;
}

#popupAlert .popup-content {
    padding-left: 15px;
    padding-right: 15px;
}

#popupServicio .popup-content {
    padding-left: 15px;
    padding-right: 15px;
}

.ui-dialog{
	height: auto;
}

/** Login **/

#login .ui-content {
    position : absolute;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
}

#login {
    height : 100%;
}

#login .ui-content {
    background: none;
    background-color: #063B6A;
    text-align: center;
    vertical-align: middle;
}

#login-buttons a, #login-buttons a:visited, #login-buttons a:hover, #login-buttons a:active {
    color: white;
    text-shadow: none;
    text-decoration: underline;
}

#login-forgot {
    margin-top: 10px;
}

.login-table {
    display: table;
    width: 100%;
    height: 100%;
}

.login-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#login-logo {
    width: 200px;
}

.checkbox-label-no-background {
    background: none !important;
    border: none !important;
    color: #FFFFFF !important;
}

.checkbox-label-no-background-black {
    background: none !important;
    border: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#loader {
    display: inline-block;
    width: 46px;
    height: 46px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    z-index: 101;

    text-align: center;
    vertical-align: middle;

    background-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#loader img {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
}

#solicitar-servicio {
    display: inline-block;
    width: 90%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 10%;
    margin-top: -23px;
    margin-left: -23px;
    z-index: 101;

    text-align: center;
    vertical-align: middle;

    background-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu-principal {
    display: none;
    width: 80%;
    height: auto;
    position: fixed;
    top: 25%;
    left: 3%;
    padding-left: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
    z-index: 101;

    text-align: center;
    vertical-align: middle;

    background-color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}