/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

html, body {
    height : 100%;
}

::-webkit-input-placeholder {
    text-transform: none;
}

:-ms-input-placeholder {
    text-transform: none;
}

:-moz-placeholder {
    text-transform: none;
}

::-moz-placeholder {
    text-transform: none;
}

::-moz-placeholder {
    text-transform: none;
}

/** Overwrite jquery mobile style **/

.ui-header {
    background-color: #063B6A !important;
    color: white !important;
    border: 0 !important;
    text-shadow: none !important;
}

.ui-content {
    text-shadow: none !important;
}

.ui-panel {
    width: 13em;
}
.ui-panel-position-left {
    left: -13em;
}
/* positioning: content wrap, fixed toolbars and dismiss */
/* panel left open */
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 13em;
}
/* animated: panel left open (for reveal and push) */
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    -webkit-transform: translate3d(13em,0,0);
    -moz-transform: translate3d(13em,0,0);
    transform: translate3d(13em,0,0);
}

.acc-btn-back {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#loader {
    display: inline-block;
    width: 46px;
    height: 46px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    z-index: 101;

    text-align: center;
    vertical-align: middle;

    background-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#loader img {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
}

.ui-dialog {
    height: auto;
}

#popupDialog, #popupAlert {
    border: 0
}

#popupDialog .ui-title,
#popupAlert .ui-title {
    margin-right: 10%;
    margin-left: 10%;
}

#popupDialog .confirmation-buttons {
    text-align: center;
}

.menu {
    display: none;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    z-index: 101;
    background-color: rgba(0,0,0,0.5);
}

.menu:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.menu-container {
    display: inline-block;
    background-color: #FFF;
    width: 17.2em;
    vertical-align: middle;

    text-align: left;

    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;

    overflow: hidden;
}

#menu-emergencias-container {
    width: 11.7em !important;
}

#menu-servicio-container {
    background-color: #FFF !important;
    color: #000 !important;
}

.menu-container .ui-header {
    text-align: center;
    height: 2em;
    padding-top: 0.8em;
}

.menu-container .row {
    width: 100%;
    height: 4.8em;
    margin-top: 0.7em;
}

.menu-container .row:last-child {
    margin-bottom: 0.7em;
}

.menu-container .row .menu-button {
    position: relative;
    display: inline-block;
    width: 4.8em;
    height: 4.8em;
    float: left;

    margin-left: 0.7em;

    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;

    text-align: center;
    background-color: #0A66B6;
    color: #FFF;

    text-shadow: none;
}

.menu-container .row .menu-button.active {
    background-color: #031F37;
    color: #FFF;
}

.menu-container .row a,
.menu-container .row a:visited,
.menu-container .row a:hover,
.menu-container .row a:active {
    color: #000;
    text-shadow: none;
    text-decoration: none;
}

.menu-container .row .menu-button .icon {
    position: absolute;
    top: 0.5em;

    width: 100%;
    font-size: 2em;
}

.menu-container .row .menu-button .text {
    position: absolute;
    bottom: 0.5em;

    width: 100%;
    font-size: 0.7em;
}

#menu-servicio .ui-content {
    padding: 1.5em;
    text-align: left;
}

#menu-servicio-form {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

#menu-servicio-form input {
    width: 100%;
}

#menu-servicio-form select {
    width: 100%;
}

#menu-servicio-form .buttons {
    margin-top: 2em;
    text-align: center;
}

#menu-servicio-form .buttons a{
    display: inline-block;
    margin: 0;
}

#menu-servicio-form .buttons a:first-child{
    margin-right: 0.5em;
}

#menu-servicio-titulo {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#menu-pico-y-placa .ui-content {
    padding: 1.5em;
    text-align: left;
}

#menu-pico-y-placa-form {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
}

#menu-pico-y-placa-form select {
    width: 100%;
}

#menu-pico-y-placa-form .buttons {
    text-align: center;
    margin-top: 2em;
}

#menu-pico-y-placa-form .buttons a{
    display: inline-block;
    margin: 0;
}

#menu-pico-y-placa-form .buttons a:first-child{
    margin-right: 0.5em;
}

#menu-pico-y-placa-titulo {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#servicio_placas{
    text-transform: uppercase;
}

/** Menu lateral **/

#panel-menu-lateral {
    background-color: rgba(6, 59, 106, 0.9);
    color: #FFF;
    text-shadow: none;
    font: 1.2em;
}

#panel-menu-lateral hr {
    border: none;
    height: 2px;
    background-color: #003f71;
}

#panel-menu-lateral .logo-container {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

#panel-menu-lateral .logo-container img {
    width: 5em;
}

#menu-lateral{
    list-style-type: none;
    padding: 10px;
}

#menu-lateral li{
    margin-bottom: 1.5em;
}

#boton-cerrar-sesion {
    display: none;
}

label.error {
    display: block;
    color: red;
    padding-top: .2em;
    vertical-align: top;
    font-weight: bold;
}

/*Quita del mapa los links de logo de Google y terminos de uso */
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/** Dashboard **/

#dashboard .ui-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: 0;
    padding: 0;
}

#dashboard-header {
    display: none;
    color: #FFF;
    background-color: rgba(6, 59, 106, 0.9);
    position: absolute;
    top: 0;
    width: 100%;
    height: 1.5em;

    z-index: 50;
    text-shadow: none;
    padding: 0.6em;

    text-align: right;
    vertical-align: top;

}

#dashboard-header .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 2em;
    margin-left: 0.5em;
    margin-top: 0.3em;
}

#dashboard-header .logo img{
    height: 100%;
}

#placa_header{
    float: right;
    margin-right: 1em;
    margin-top: 0.1em;
}

#placa-config {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.5em;
    font-size: 1.2em;
}

#dashboard #map_canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#dashboard-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 50;

    margin: 0;
    padding: 0;
    padding-top: 0.4em;
    padding-bottom: 0.2em;

    background-color: rgba(6, 59, 106, 0.9);
    color: #FFF;
    font-size: 1.5em;
    text-shadow: none;

    text-align: center;
}

#btn-menu-lateral {
    display: inline-block;
    float: left;
    margin-left: 5%;
}

#btn-follow-me {
    display: inline-block;
}

#btn-menu-popup {
    display: inline-block;
    float: right;
    margin-right: 5%;
}

#btn-follow-me.active {
    color: #64A6B6;
}

/** Login **/

#login .ui-content {
    position : absolute;
    top      : 0;
    right    : 0;
    bottom   : 0;
    left     : 0;
}

#login {
    height : 100%;
}

#login .ui-content {
    background: none;
    background-color: #063B6A;
    text-align: center;
    vertical-align: middle;
}

#login-buttons a, #login-buttons a:visited, #login-buttons a:hover, #login-buttons a:active {
    color: white;
    text-shadow: none;
    text-decoration: underline;
}

#login-sign-up {
    margin-top: 10px;
}

#login-forgot {
    margin-top: 10px;
}

.login-table {
    display: table;
    width: 100%;
    height: 100%;
}

.login-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#login-logo {
    width: 200px;
}

.checkbox-label-no-background {
    background: none !important;
    border: none !important;
    color: #FFFFFF !important;
}

.checkbox-label-no-background-black {
    background: none !important;
    border: none !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#loader {
    display: inline-block;
    width: 46px;
    height: 46px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    z-index: 101;

    text-align: center;
    vertical-align: middle;

    background-color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#loader img {
    width: 38px;
    height: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -19px;
    margin-left: -19px;
}

/** Registro **/

#sign-up {
    height : 100%;
}

#sign-up .ui-header {
    height : 2.5em;
    border: 0;
}

#sign-up .ui-content {
    position: absolute;
    top: 2.5em;
    right: 0;
    bottom: 0;
    left: 0;
}


/** Mi cuenta **/

#profile hr.separator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

#profile .row {
    width: 100%;
    margin-top: 0.7em;
}

#profile .row a,
#profile .row a:visited,
#profile .row a:hover,
#profile .row a:active {
    color: #000;
    text-shadow: none;
    text-decoration: none;
}

/** Ayuda **/

#help .ui-content {
    background-color: #063B6A;
    color: white;
    text-shadow: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#help .owl-carousel {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    right: 0;
}

#help .owl-wrapper-outer {
	height: 100%;
}

#help .owl-item div {
    height: 100%;
    text-align: center;
}

#help .owl-item p {
    display: inline-block;
    width: 90%;
    text-align: left;
}

#help .owl-item img {
    height: 100%;
}

#help .owl-controls {
	display: none !important;
}

#help #cerrar-ayuda{
    position: fixed;
    top: 0.2em;
    right: 0.2em;
    font-size: 1.6em;
}


/** Descuentos **/

#contenido-lista-descuentos li div:first-child {
    text-overflow: ellipsis;
    overflow: visible;
    white-space: normal;
    padding: 0.5em;
    font-size: 1em;
}

#contenido-lista-descuentos li .logo {
    text-align: center;
}

#contenido-lista-descuentos li div img {
    display: inline-block;
    max-width: 5em;
    max-height: 5em;
}

#contenido-lista-descuentos li .description {
    text-align: left;
}

/** Override collapsible style **/

/* Basic settings */
.ui-li-static.ui-collapsible {
    padding: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview,
.ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom-width: 0;
}
/* collapse vertical borders */
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-last-child,
.ui-li-static.ui-collapsible.ui-collapsible-collapsed > .ui-collapsible-heading > a.ui-btn {
    border-bottom-width: 0;
}
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn {
    border-top-width: 0;
}
/* Remove right borders */
.ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > .ui-li-static,
.ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-right-width: 0;
}
/* Remove left borders */
/* Here, we need class ui-listview-outer to identify the outermost listview */
.ui-listview-outer > .ui-li-static.ui-collapsible .ui-li-static.ui-collapsible.ui-collapsible,
.ui-listview-outer > .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
.ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-left-width: 0;
}
